* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 12px;
    margin: 0 auto;
}
.btn {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-outline {
    background-color: transparent;
    color: rgb(10, 20, 58);
}
.btn-outline:hover {
    background-color: rgb(37, 110, 235);
    color: rgb(255, 255, 255);
}
.btn-primary {
    background-color: rgb(37, 110, 235);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.btn-primary:hover {
    background-color: transparent;
    color: rgb(10, 20, 58);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.search {
    margin-bottom: 45px;
}
.search-box {
    width: 100%;
    border-radius: 5px;
    background-color: #256EEB;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.search-box input {
    flex-grow: 1;
    padding: 14px 21.45px;
    border-radius: 5px;
    border: none;
    outline: none;
    min-width: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.search-box input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.search-btn {
    display: flex;
    align-items: center;
}
.search-btn__icon {
    width: 15px;
    height: 15px;
}
.search-btn__text {
    margin-left: 2px;
    font-size: 16px;
    line-height: 19px;
}
.content {
    padding-bottom: 50px;
}
.content-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.content-main {
    flex-grow: 1;
}
.content-main__title, .content-product__title, .content-product__price {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}
.content-main__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.content-side {
    width: 261px;
    min-width: 261px;
}
.content-side--title {
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 23px;
}
.content-side__footer {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.content-side__footer--item {
    color: rgb(196, 196, 196);
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    width: fit-content;
}
a.content-side__footer--item:hover {
    border-bottom: 0.75px solid rgb(196, 196, 196);
}
a.content-side__footer--item:hover .content-side__footer {
    row-gap: 4.75px;
}
.content-product {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}
.content-product__left, .content-product__right {
    flex-basis: 50%;
}
.content-product__img {
    width: 100%;
}
.content-product__text {
    color: rgb(10, 20, 58);
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}
.btn-large {
    width: 264px;
    height: 54px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 991px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 730px;
    }
    .content-box {
        flex-direction: column;
    }
    .content-main {
        width: 100%;
    }
    .content-side {
        width: 100%;
        min-width: none;
    }
    .content-product {
        flex-direction: column;
        width: 100%;
    }
    .content-product__left, .content-product__right {
        flex-basis: 100%;
        width: 100%;
    }
}
@media (max-width: 786px) {
    .container {
        max-width: 100%;
    }
    .search-btn__text {
        display: none;
    }
}